
<section class="module parallax narrow parallax-targeting">
    <div class="container">
        <h1>Targeting</h1>
    </div>
</section>

<section class="module content" id="tech-div">
    <div class="container">
       <!--  <h2>Creating Deterministic Cross Device Pairs</h2> -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="500ms">
            <a>
                <img src="img/products-img/targeting-icon-inpage1.png" class="center-block" alt="">
                <h3>Programmatic DSP</h3>
            </a>
            <p>A Real Time Bidding enabled DSP connecting your brand with millions of unique users through multiple exchanges. Reach your exact target audience in the best price with dynamic bidding thus delivering an unmatched experience in various screens.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="550ms">
            <a>
                <img src="img/products-img/targeting-icon-inpage2.png" class="center-block" alt="">
                <h3>Mobile Retargeting</h3>
            </a>
            <p>Retarget the audience interested in your offerings on their personal devices by implementing our pixel/ SDK in your mobile website/app. Clear the pathway to conversion by combining 1st party and 3rd party data using our fingerprinting technology.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="600ms">
            <a>
                <img src="img/products-img/targeting-icon-inpage3.png" class="center-block" alt="">
                <h3>Cross Device Retargeting</h3>
            </a>
            <p>Brings the richness of user data collected from multiple digital devices like TV, Desktop and Laptop in campaigns. Enables marketers to create and optimize campaigns easily by reviewing insights on how the campaign is performing on other devices.
            </p>
        </div>
    </div>
</section>
