<section class="module parallax narrow parallax-team">
    <div class="container">
        <h1>Team</h1>
    </div>
</section>

<section class="module content no-bottom-pad bg-team">
    <div class="container-fluid">
        <div class="row">
            <h1 class="txt-white">Founders</h1>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default team-panel animated fadeInLeft">
                    <div class="panel-body team_box_img" id="hitesh_chawla">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..spearheads SilverPush, creates visionary ideas for smart products, at his best while wearing his engineering hat"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Hitesh Chawla</p>

                                <p class="pos">Co-Founder &amp; CEO</p>
                                <p class="links"><a href="http://www.linkedin.com/in/hiteshchawla" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default team-panel animated fadeInUp">
                    <div class="panel-body team_box_img" id="mudit_seth">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..handles the global strategic alliance &amp; marketing, avid traveller, loves playing football"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Mudit Seth</p>
                                <p class="pos">Co-Founder &amp; CMO</p>
                                <p class="links"><a href="http://www.linkedin.com/in/muditbest" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default team-panel animated fadeInRight">
                    <div class="panel-body team_box_img" id="alex_modon">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..heads the US operations and partnerships, pace-setter, serial entrepreneur"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Alex Modon</p>

                                <p class="pos">Co-Founder &amp; COO</p>
                                <p class="links"><a href="http://www.linkedin.com/in/alexmodon" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="txt-white">Team</h1>
            <!-- Column 1 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="jules_levi">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..the man behind business strategy building in the US"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Jules Levi</p>

                                <p class="pos">Head, Sales US</p>
                                <p class="links"><a href="http://www.linkedin.com/pub/jules-levy/13/867/528" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="ankit_paul">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..prankster and a busy dad, develops plans covering national sales"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Ankit Paul</p>

                                <p class="pos">Head, Sales India</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/ankit-paul/16/b5a/1bb" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="piyush_bhatt">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..the best sprinter, fast speaker,volunteering, handles our valuable clients"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Piyush Bhatt</p>

                                <p class="pos">Client Servicing Manager</p>
                                <p class="links"><a href="http://in.linkedin.com/in/bhattpiyush" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="adarsh_sasi">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..mild mannered, passion for music and internet, deals with product and brand stuff"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Adarsh Sasi</p>

                                <p class="pos">Product Manager (Marketing)</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/adarsh-sasi/15/432/321" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="vivek_bajpai">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..a good cook, lifeline of silverpush, makes sure the servers never stays off"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Vivek Bajpai</p>
                                <p class="pos">Tech Lead</p>
                                <p class="links"><a href="http://in.linkedin.com/in/vivekkrbajpai" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column 2 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="matt_casey">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..manages campaigns and client servicing in the US"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Matt Casey</p>

                                <p class="pos">Campaign Delivery Head</p>
                                <p class="links"><a href="http://www.linkedin.com/pub/matt-casey/1a/10a/229" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="abhimanyu_yadav">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..pragmatic, loves tennis and cricket, develops regional partner relationships"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Abhimanyu Yadav</p>

                                <p class="pos">Sr. Manager Sales</p>
                                <p class="links"><a href="http://in.linkedin.com/in/abhimanyuyadav" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="tanvi_thakral">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..aspiring singer, dj, reluctant early riser ,develops web based tools"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Tanvi Thakral</p>

                                <p class="pos">Software Trainee</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/tanvi-thakral/95/354/730" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="rimakshi">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..policy maker, extremely people friendly, brings awesome people to the team"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Rimakshi</p>

                                <p class="pos">Talent Acquisition Specialist</p>
                                <p class="links"><a href="http://in.linkedin.com/in/Rimakshi" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="aman_nagpal">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..crazy fan of punjabi music, king of humor, makes super quick and intuitive dashboard"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Aman Nagpal</p>

                                <p class="pos">Tech Lead</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/aman-nagpal/17/136/883" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Column 3 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="anil_kundu">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..big data and machine learning guru, yoga instructor, heads data science team"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Anil Kundu</p>

                                <p class="pos">VP, Data Science</p>
                                <p class="links"><a href="http://in.linkedin.com/in/kunduanil" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="rahul_joshi">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..community builder, adventure seeker, easy going optimist"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Rahul Joshi</p>

                                <p class="pos">Manager Sales</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/rahul-joshi/13/512/99b/" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="shipra_mishra">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..film lover, bookworm, health freak, manages our clients"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Shipra Mishra</p>

                                <p class="pos">Asst. Manager Client Servicing</p>
                                <p class="links"><a href="https://www.linkedin.com/pub/shipra-mishra/68/861/228" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="anuj_prakash">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..coffee drinker, determined dreamer, extracts meanings from our data points"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Anuj Prakash</p>

                                <p class="pos">Data Scientist</p>
                                <p class="links"><a href="http://in.linkedin.com/in/anjprakash" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="vikram_tiwari">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..science nerd, junk food lover, proves everytime that 'a poor code is a poor code'"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Vikram Tiwari</p>

                                <p class="pos">Software Engineer</p>
                                <p class="links"><a href="http://in.linkedin.com/in/vikramtiwari" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column 4 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="debasish_mitra">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..quizzer, technology evangelist, photographer, creates competencies in product roadmap"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Debasish Mitra</p>

                                <p class="pos">Product Manager (Technology)</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/debasish-mitra/60/9b1/54b" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="rahul_gupta">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..silent coder, stictly vegan, works on front end technology"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Rahul Gupta</p>

                                <p class="pos">Software Engineer</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/rahul-gupta/73/210/176" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img" id="prena_reddy">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..volleyball champ, pet admirer, loves history and stuff, monitors campaign delivery"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Prena Reddy</p>

                                <p class="pos">Campaign Delivery Executive</p>
                                <p class="links"><a href="http://in.linkedin.com/pub/prerna-reddy/77/74b/b1/" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="pragyank_bana">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..lives on pizza and research papers, comic lover, works on backend audio technology"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Pragyank Bana</p>

                                <p class="pos">R&amp;D Engineer</p>
                                <p class="links"><a href="http://in.linkedin.com/in/pragyankbana" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default team-panel wow fadeInUp">
                    <div class="panel-body team_box_img long" id="nishant_srivastava">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..a perfectionist, loves sleek design, born to eat chicken, works on android and beacon tech"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">Nishant Srivastava</p>

                                <p class="pos">Software Engineer</p>
                                <p class="links"><a href="http://in.linkedin.com/in/nisrulz" target="_blank" class="btn btn-xs btn-info"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
