<section class="module parallax narrow parallax-company">
    <div class="container">
        <h1>Company</h1>
    </div>
</section>

<section class="module content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p class="page-title animated bounceInLeft"><span class="typcn typcn-star title-icon warning blinker"></span>About Us</p>
                <div class="page-data animated bounceInRight">
                    <p>
                        SilverPush is a leading Cross-device Mapping platform that unify data points from the billions of digital devices around the globe and associate it with people.
                    </p>
                    <p>
                        We combine our patent-pending audio beacon technology with statistical data, to create a map of multiple devices being linked to a single anonymous user. As a result, behavior of a user across their multiple devices is linked to a single SilverPush ID.
                    </p>
                    <p> We are the <i>only company that captures user touchpoints from TV-Desktop-Laptop-Tablets-Smartphone</i> and make them available to our valuable customers through our <i>data platform.</i>
                    </p>
                    <p> Biggest players like <i>Google, P&G,GE and Philips</i> uses our platform to get better understanding of their audience and reach them effectively.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 animated fadeIn">
                <img src="img/home-img/aboutus.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>