
<section class="module parallax narrow parallax-investors">
    <div class="container">
        <h1>Investors</h1>
    </div>
</section>

<section class="module content no-bottom-pad bg-darkgrey">
    <div class="container panel-box">
        <div class="row" id="first_type">
            <legend>Funds</legend>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/idg_ventures.jpg" class="center-block img-responsive img-gs" alt=".">
                            <h3>IDG Ventures</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/500_startups.jpg" class="center-block img-responsive img-gs" alt=".">
                            <h3>500 Startups</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/unilazer_ventures.jpg" class="center-block img-responsive img-gs" alt=".">
                            <h3>Unilazer Ventures</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/palash_ventures.jpg" class="center-block img-responsive img-gs" alt=".">
                            <h3>Palaash Ventures</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/TA_ventures.jpg" class="center-block img-responsive img-gs" alt=".">
                            <h3>TA Ventures</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/gsf_acc.jpg" class="center-block img-responsive img-gs" alt=".">
                            <h3>GSF Accelerator</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="second_type">
            <legend>Angels</legend>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/fabrice_grinda.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Fabrice Grinda</h3>
                            <p>Founder & Former CEO, OLX</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/prashant_mehta.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Prashant Mehta</h3>
                            <p>Former CEO, Komli Media</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/siddharth_puri.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Siddharth Puri</h3>
                            <p>CEO, Tyroo Media</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/tuoc_luong.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Tuoc Luong</h3>
                            <p>Former SVP, Yahoo Search</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/k_ganesh.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>K. Ganesh</h3>
                            <p>Founder, GrowthStory</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/rajesh_sawhney.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Rajesh Sawhney</h3>
                            <p>Founder, GSF</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="panel  panel-default">
                    <div class="panel-body">
                        <img src="img/investors-img/mike_okeyere.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                        <h3>Mike Okyere</h3>
                        <p></p>
                    </div>
                </div>
            </div> -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/dinesh_agarwal.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Dinesh Agarwal</h3>
                            <p>Founder & CEO, IndiaMart</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="panel  panel-default">
                        <div class="panel-body">
                            <img src="img/investors-img/nish_bhutani.jpg" class="center-block img-responsive img-circle img-gs" alt=".">
                            <h3>Nish Bhutani</h3>
                            <p>COO, Saffronart</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
