<section class="module parallax narrow parallax-analytics">
    <div class="container">
        <h1>Analytics</h1>
    </div>
</section>

<section class="module content">
    <div class="container">
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item">&nbsp;
                    <h3 class="list-group-item-heading ubuntu">Get deep insights on</h3>
                </li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; User Behavior across different devices</li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; Multiple devices associated with the user</li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; TV Ad analytics</li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; Demographics about who were exposed to your ads on TV and Desktop</li>
            </ul>
        </div>
        <div class="col-md-7 text-justify">
            <p>
                With SilverPush analytics, now it is possible to know how many users you were able to reach via your TV ad campaign, what their user behavior is, and whether they are interested in your ads.
            </p>
            <p>
                This gives you the unmatched insights to re-plan your media budget for ATL and BTL activities. SilverPush track the user's interaction on a TV, mobile and desktop and classify them based on different intends, which we then used to empower the brand to reach out to these valuable audience to drive high engagement.
            </p>
        </div>
    </div>
</section>
