<section class="module parallax narrow parallax-contactus">
    <div class="container">
        <h1>Contact Us</h1>
    </div>
</section>
<div class="container-fluid bg-contact secondary-font">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">&nbsp;
                <h3 class="list-group-item-heading">We are available 24/7, so don't hesitate to contact us.</h3>
            </li>
            <li class="list-group-item"><i class="fa fa-envelope-o"></i>&nbsp; General - contact@silverpush.co</li>
            <li class="list-group-item"><i class="fa fa-envelope-o"></i>&nbsp; Sales - sales@silverpush.co</li>
            <li class="list-group-item"><i class="fa fa-envelope-o"></i>&nbsp; Operations - ops@silverpush.co</li>
            <li class="list-group-item">&nbsp;
                <h3 class="list-group-item-heading">US HQ</h3>
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>&nbsp; Ste 1348, 560 Mission St,San Francisco, CA 94105</li>
            <li class="list-group-item">&nbsp;
                <h3 class="list-group-item-heading">India Office</h3>
            </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>&nbsp; 3rd Floor, Times Square, B-Block,Sushant Lok- I,Gurgaon-122002</li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="overlay" onClick="style.pointerEvents='none'"></div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zXu3qO08Ip4k.k9ZaW52An4jc" width="100%" height="450" style="border:10px solid white;"></iframe>
    </div>
</div>