<section class="module parallax narrow parallax-measurement">
    <div class="container">
        <h1>Measurement</h1>
    </div>
</section>
<section class="module content">
    <div class="container">
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item">&nbsp;
                    <h3 class="list-group-item-heading ubuntu">Interactive dashboard that has built-in capability to</h3>
                </li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; Track your mobile app performance and usage pattern</li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; Discover the impressions that are actually viewed </li>
                <li class="list-group-item"><i class="fa fa-check-square-o"></i>&nbsp; Find out the missing pieces in the attribution puzzle</li>
            </ul>
        </div>
        <div class="col-md-7 text-justify">
            <p>SilverPush measurement suites tracks over 50 million anonymous users beyond the click, including their internet devices and TV behavior, proving mobile-first consumer engagement and performance. We identify the multiple devices used by a single user and ensure every impression will give a unique customer experience. Understand how TV ad exposure impacts consumer spending by quantifying your consumer’s online purchase activity.</p>
            <p>Get in touch with us to drive your way to become a SiverPush Data Powered Marketer
            </p>
        </div>
    </div>
</section>
