<section class="module parallax narrow parallax-team">
    <div class="container">
        <h1>Team</h1>
    </div>
</section>

<section class="module content no-bottom-pad bg-team">
    <div class="container-fluid">
        <div class="row team">
            <h1>Founders</h1>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="person in team|filter:{category: 'founders'}">
                <div class="panel panel-default team-panel wow animated fadeIn">
                    <div class="panel-body team_box_img" id="{{ person.shortname }}"
                        style="{{ 'background-image: url(' + profileImagesPath + person.shortname + '.jpg);' }}">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..{{ person.desc }}"</p>
                            </div>
                            <div class="bottom-box2 secondary-font">
                                <a href="#!team/details/{{ team.indexOf(person) }}" class="title">{{ person.name | uppercase }}</a>
                                <p class="pos">{{ person.position }}</p>
                                <p class="links">
                                    <a href="{{ person.linkedin }}" target="_blank" class="btn btn-xs btn-info">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team">
            <div class="col-md-6">
                <h1>Team</h1>
            </div>
            <div class="col-md-6">
                <span class="input search">
                    <input class="input__field input__field" type="text" id="search" ng-model="query" value="" autocomplete="off">
                    <label class="input__label input__label" for="search">
                        <span class="input__label-content input__label-content">Search</span>
                    </label>
                </span>
            </div>
        </div>
        <div class="row team">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="person in team | filter: {category: 'team', name: query}| orderBy: empOrderBy">
                <div class="panel panel-default team-panel wow fadeInUp animated"
                        style="{{ 'background-image: url(' + profileImagesPath + person.shortname + '.jpg);' }}">
                    <div class="panel-body team_box_img" id="{{ person.shortname }}">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..{{ person.desc }}"</p>
                            </div>
                            <div class="bottom-box2 secondary-font">
                                <a href="#!team/details/{{ team.indexOf(person) }}" class="title">{{ person.name | uppercase }}</a>
                                <p class="pos">{{ person.position }}</p>
                                <p class="links">
                                    <a href="{{ person.linkedin }}" target="_blank" class="btn btn-xs btn-info">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
