<section class="module parallax narrow parallax-team">
    <div class="container">
        <h1>Team</h1>
    </div>
</section>

<section class="module content no-bottom-pad bg-team">
    <div class="container-fluid">
        <div class="row">
            <h1 class="txt-white">Founders</h1>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="person in team|filter:{category: 'founders'}">
                <div class="panel panel-default team-panel animated fadeInLeft">
                    <div class="panel-body team_box_img" id="{{ person.shortname }}">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..{{ person.desc }}"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">{{ person.title }}</p>
                                <p class="pos">{{ person.position }}</p>
                                <p class="links">
                                    <a href="{{ person.linkedin }}" target="_blank" class="btn btn-xs btn-info">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="txt-white">Team</h1>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="person in team|filter:{category: 'team'}">
                <div class="panel panel-default team-panel animated fadeInLeft">
                    <div class="panel-body team_box_img" id="{{ person.shortname }}">
                        <div class="hover-div">
                            <div class="bottom-box1">
                                <p class="desc">"..{{ person.desc }}"</p>
                            </div>
                            <div class="bottom-box2">
                                <p class="title">{{ person.name | uppercase }}</p>
                                <p class="pos">{{ person.position }}</p>
                                <p class="links">
                                    <a href="{{ person.linkedin }}" target="_blank" class="btn btn-xs btn-info">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
